  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
  </head>
  <body>
        <form action=""method="POST">
            {% csrf_token %}{{ form.as_table }}
            <br><br><br>
            <input type="text"  class="form-control" maxlength="10" minlength="2" placeholder="Some Text" required="true" autofocus="true" >
                  
            <input type="email" class="form-control" maxlength="10" placeholder="email" required="true">
                  
            <input type="number" class="form-control" maxlength="10" minlength="2" placeholder="number">
                  
            <input type="submit" value="Submit">
        </form>
            
            
      
  </body>
  </html>